//dimensions
$leftPanelWidth: 4%;
$middlePanelWidth: 20%;
$rightPanelWidth: 100%;

// Backgrounds
$defaultPanelbgColor: #333333;
$middlePanelbgColor: #252526;
$rightPanelbgColor: #1e1e1e;

//text color
$mainTextColor : #fff;